<html ng-app="mpApp">
    <head>
        <title>Demo MP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body>
        <div id="demo" ng-controller="demoController">
            <h1>Demo angular</h1>
            <input type="text" ng-model="simpleModel" placeholder="Hola mundo" />
            <h1>{{simpleModel}}</h1>
            <h1 ng-bind="simpleModel"></h1>
            
            <hr>
            <h1>Datos dev</h1>
            
            <button type="button" ng-click="setModel()">Cargar Datos</button>
            <div>
                <label>Ingrese comentario </label>
                <input type="text" ng-model="dev.comentario" placeholder="Comentario" />
            </div>
            <div>
                <label>Nombre </label> {{dev.name}}
            </div>
            <div>
                <label>Email </label> {{dev.email}}
            </div>
            <div>
                <label>Comentario </label> {{dev.comentario}}
            </div>
        </div>
        <div id="demo2"ng-controller="norrisController">
            <h1>Chuck norris dice</h1>
            <div>
                <label>Ingrese busqueda </label>
                <input type="text" ng-model="search" placeholder="Busqueda" />
            </div>
            <button type="button" ng-click="getNorris()">Cargar Facts</button>
            <ul ng-repeat="fact in norrisFacts">
                <li><label>{{fact.value}}</label> - <a ng-href="{{fact.url}}" target="_blank">Ver en ChuckNoris facts</a></li>
            </ul>
        </div>
    </body>
</html>
